<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is just a test home page to see if handlebars works.</h2>

        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="event-title">Event Title</label>
            <input type="text" id="event-title" class="form-control" aria-describedby="event-title"
              placeholder="Enter Event Title">
          </div>
          <div class="form-group">
            <label for="event-description">Event Description</label>
            <textarea class="form-control" id="event-description" aria-describedby="event-description"
              placeholder="Enter Event Description"></textarea>
          </div>
          <div class="form-group">
            <label for="event-date">Event Date</label>
            <textarea class="form-control" id="event-date" aria-describedby="event-date"
              placeholder="Enter Event Date (MM/DD/YYYY)"></textarea>
          </div>
          <div class="form-group">
            <label for="event-time">Event Time</label>
            <textarea class="form-control" id="event-time" aria-describedby="event-time"
              placeholder="Enter Event Time (HH:MM:SS)"></textarea>
          </div>
          <div class="form-group">
            <label for="contact-info">Contact Info</label>
            <textarea class="form-control" id="contact-info" aria-describedby="contact-info"
              placeholder="Enter Contact Info"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>


        <h3>Events:</h3>
        <ul id="events-list" class="list-group">
          {{#each events}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>