<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1 id="index-title">community<b>FIRST</b></h1> 
        {{!-- i deleted {{msg}} from h1 because it didn't seem necessary to incorporate handlebar stuff here. --}}
        
        <h2>What events are in YOUR community?</h2>
        <br>
        <button class="redirect" onclick="document.location='users'">Login</button>
        <h3>Events:</h3>
        <ul id="events-list" class="list-group">
          {{#each events}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="events/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>