<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h2>This is just a test page to see if Login works.</h2>

          <hr>
      
          <h2>User Login</h2>

          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="email">E-Mail</label>
              <input type="text" id="email" class="form-control" aria-describedby="email"
              placeholder="Enter Your E-Mail">
            </div>
            <div class="form-group">
              <label for="user-name">Username</label>
              <input type="text" id="username" class="form-control" aria-describedby="user-name"
              placeholder="Enter Your Username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" id="password" class="form-control" aria-describedby="password"
              placeholder="Enter Your Password">
            </div>
                    
            <button id="submitLogin" class="btn btn-primary float-right" type="submit">Login</button>
          </form>  

          <hr>
      
          <h2>Create Login</h2>

          <form class="clearfix mb-4" action="POST">
            <div class="form-group">
              <label for="newEmail">E-Mail</label>
              <input type="text" id="newEmail" class="form-control" aria-describedby="newEmail"
              placeholder="Enter Your E-Mail">
            </div>
            <div class="form-group">
              <label for="newUsername">Username</label>
              <input type="text" id="newUsername" class="form-control" aria-describedby="newUsername"
              placeholder="Enter Your Username">
            </div>
            <div class="form-group">
              <label for="newPassword">Password</label>
              <input type="text" id="newPassword" class="form-control" aria-describedby="newPassword"
              placeholder="Enter Your Password (2-10 characters)">
            </div>

            <button id="submitCreate" class="btn btn-primary float-right" type="submit">Submit</button>
          </form>
        </div>
        <hr>
        <a href="/">← Back To Events</a>
        <br>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/user.js"></script>

